  header{
    @include container(900px);
    height:50px;
    background-color: $grey;
    margin-top: 60px;
    ul{
      @include span(first 6);
      @include pad(.75);
      padding-top: 14px;
      a{
      text-decoration: none;
      color:white;
      }
      li{
      display: inline;
      
      }
    }
    .status{
    @include span(last 2);
    margin-top: 5px;
    padding:5px;
    background: white;
    @include border-radius(10px);
    margin-right: 40px;
    text-align: center;
    }
}

main{
  @include container(900px);
  background-color: lighten($grey,20);
  height:500px;

  .structure{
  @include span(6 at 3.75 of 12 isolate);
  background-color: white;
  height:400px;
  margin-top: 50px;
  @include border-radius(10px);
  @include box-shadow(black 0px 0px 10px);
  }
  .rightPanel{
  @include span(last 2.5);
  background-color: lighten($blue,20);  
  height:500px;
    ul{
      padding-top: 35px;
      @include container(90%);
      li{
         @include display-flex();
    @include align-items(center);
    @include justify-content(center);
        @include span(5.1);
        background-color: lighten($blue,35);
        height:60px;
        @include border-radius;
        margin-top: 10px;
        border:1px solid darken($blue,10);
        @include single-transition;
        cursor: pointer;
        margin-right:10px;
        font-size:1rem;
        text-align: center;
        &:first-child{
        background-color: orange;
        }
        &:hover{
        background-color: white;
        }
      }
    }
  }
   .leftPanel{
  @include span(2 at 1.75 of 12 isolate);
  background-color: white;
  height:300px;
  margin-top: 150px;
  padding:10px;
  @include border-radius(10px);
  @include border-right-radius(0px);
  @include box-shadow(black 0px 0px 10px);
     ul{
       @include container(100%);
       a{
       text-decoration: none;
       color:black;
         
       }
       .connect{
         padding-right: 7px;
         text-align: right;
         font-size: 1.4rem;
         padding: 10px;
         //@include border-radius(10px);
         border-bottom: 1px solid lighten($grey,10);
         &:hover{
         background-color: $orange;
         width:120%;
         padding-right: 25%;
         z-index: 2;
         color:white;
         }
       }
       .active{
       background-color: $orange;
       width:120%;
       padding-right: 25%;
       z-index: 2;
       color:white;
       }
     }
  }


}


.fwrapper{
  padding-top: 30px;
  @include container(90%);
  label{
  padding-top: 5px;
  @include span(first 1);
  }
  input[type='text']{
  @include clearfix;
  @include span(11);
  }
  button{
    @include border-radius;
    background: white;
    border:1px solid black;
  
  }
}

.cwrapper{
//  .active{
//  background: orange;
//  }
  .letsCenter{
  @include display-flex();
    @include align-items(center);
    //@include justify-content(center);
  .checkit{
  height:34px;
  width:34px;
  margin-left: 26px;
  margin-top: 14px;
  }
  .fa-check-square{
  color:white;
  font-size: 2rem;
  }
  .gimmeMore{
  margin-top:20px;
  }
   button{
    @include border-radius;
    background: white;
    border:3px solid $orange;
    &.active{
   background-color: $green;
  border:3px solid $green;
   color:white;
   }
  
  }
  }//letsCenter
  padding-top: 30px;
  @include container(90%);
  .split{
    @include clearfix;
    padding-top: 10px;
  
  label{
  padding-top: 5px;
  @include span(first 3);
  }
  input[type='text']{
  @include clearfix;
  @include span(last 9);
  }
    input[type="checkbox"] {
  zoom:2.5;
  background: white;
}
 
 
  }
}

#tabs{
  padding-top:50px;
  padding-left:35px;
 li{
 display: inline;
 margin-right:5px;
font-size:1.25rem;
   button{
   &:hover{
   background-color: $orange;
   color:white;
   }
   &.active{
   background-color: $orange;
   color:white;
   }
   }
   a{
   
   }
 }
}

input.ng-dirty{
border: 3px solid #84d865;
}
input.ng-pristine{
border: 3px solid $orange;
}

button{
@include single-transition;
}

button.check{
@include border-radius(50%);
background: $green;
color:white;
float:left;
border:2px solid white;
@include single-transition;
margin-bottom: 15px;
left: 215px;
position: absolute;
}

button[disabled]{
cursor: default;
background: white;
display:none;
}